<ul id="carousel"  class="example-orbit" data-orbit>
  <li>
    <%= image_tag('investors.jpg') %>
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li>
    <%= image_tag('steak.jpg') %>
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <%= image_tag('steak.jpg') %>
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
<div class="row">
  <ul class="large-block-grid-3">
    <% @projects.each do |project| %>
      <li class="text-center">
        <%= link_to image_tag(project.image_url(:thumb).to_s, class: "img-circle"), project_path(project)  %>
        <h3><%= project.title %></h3>
        <p><%= truncate_html(project.description, length: 200, omission: '...') %></p>
      </li>
    <% end %>
  </ul>
</div>
