<p id="notice"><%= notice %></p>
<div class="row">
  <h1 class="project-header"><%= @project.title %><small> by <%= @project.founders %></small></h1>
  <div class="large-6 columns">
    <img src="http://placehold.it/500x500" class="img-circle">
  </div>
  <div class="large-6 columns project-info">
    <h2>125</h2>
    <h4>Investors</h4>
    <h2>$2500.00</h2>
    <h4>of $<%= sprintf "%.2f", @project.total_fund_ask %> Funding Goal</h4>
    <div class="progress purple large-12">
      <span class="meter" style="width: 70%"></span>
    </div>
    <h2>30</h2>
    <h4>Days Left</h4>
    <div class="text-center">
      <%= link_to 'Support This Startup', '#', class: 'button purple large'%>
    </div>
  </div>
</div>
<div class="row">
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel2-1">What We Do BITCH</a></dd>
    <dd><a href="#panel2-2">Forum</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="panel2-1">
      <p><%= @project.description %></p>
    </div>
    <div class="content" id="panel2-2">
      <div class="panel">
        <img src="http://placehold.it/100x100" class="img-circle right inline">
        <h4>Derik:</h4>
        <p>Don't have it</p>
      </div>
      <div class="panel">
        <img src="http://placehold.it/100x100" class="img-circle right inline">
        <h4>Jason:</h4>
        <p>WHERE IS MY MONEY</p>
      </div>
      <div class="panel">
        <img src="http://placehold.it/100x100" class="img-circle right inline">
        <h4>Derik:</h4>
        <p>Don't have it</p>
      </div>
      <div class="panel">
        <img src="http://placehold.it/100x100" class="img-circle right inline">
        <h4>Jason:</h4>
        <p>I KNOW YOU HAVE MY MONEY</p>
      </div>
      <form>
        <textarea placeholder="Comment"></textarea>
        <%= link_to 'Comment', '#', class: 'button purple'%>
      </form>
    </div>
  </div>
</div>
